.itemContainer {
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h2 {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  padding-bottom: 5px;
  border-bottom: 1px solid $primaryDarkGrey;
}

.archiveFlex {
  display: flex;
  flex-direction: row;
}

.archiveInfo {
  width: 50%;
}

.archiveImg {
  margin-right: 20px;
  min-width: 150px;
  width: 30%;
}